<section class="info">
    <article>
        <ul>
            <li>Argumentos de entrada: {{this.arg}}</li>
            <li>Nombre de la plataforma(sistema operativo): {{this.so}}</li>
            <li>Version de node.js: {{this.node}}</li>
            <li>Memoria total reservada(rss): {{this.memory}}</li>
            <li>Path de ejecucion: {{this.path}}</li>
            <li>Process id: {{this.processId}}</li>
            <li>Carpeta del proyecto: {{this.folder}}</li>
        </ul>
    </article>
</section>