<section class="cuerpo__respuesta">
    {{#if products.length}}
        <table class="cuerpo__tabla">
            <tr class="tabla__encabezado">
                <th> Nombre </th>
                <th> Precio </th>
                <th> Foto </th>
            </tr>
            {{#each products}}
                <tr class="tabla__cuerpo">
                    <td>{{this.nombre}}</td>
                    <td>{{this.precio}}</td>
                    <td>
                        <img src="{{this.thumbnail}}" alt="{{this.nombre}}" width="40px" height="40px">
                    </td>
                </tr>
            {{/each}}
        </table>
    {{else}}
        <h2 class="cuerpo__subtitulo">No se encontraron productos</h2>
    {{/if}}
</section>

<section class="cuerpo__chat">
    <input type="text" name="mail" id="mail" placeholder="diego@gmail.com" required>
    <ul>
        {{#if chat.length}}
            {{#each chat}}
                <li>
                    <p>
                        <span>{{this.email}}</span>
                        <span>{{this.fecha}}</span>
                        <span>{{this.mensaje}}</span>
                    </p>
                </li>
            {{/each}}
        {{else}}
            <li>No hay mensajes en el chat</li>
        {{/if}}
    </ul>
    <input type="text" name="message" id="message" placeholder="Ingrese un mensaje.." required>
    <button id="submitMessage">Enviar mensaje</button>
</section>