doctype html
html 
    head 
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title="Datos"
    body
        h1(style="color: blue;")!=titulo
        span=min
        meter(min=min max=max value=nivel)
        span=max